.popularItems{
    .section-header{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            width: 70%;
            color: #646464;
            text-align: center;
        }
    }
    .item-card{
        a{
            text-decoration: none;
            color: inherit;
        }
    }
}